@using EcommerceMVC.Models;
@model Order;

<h1>Order has been Placed Sucessfully</h1>
<div class="box">
    <p class="card-text">Order Staus : @Model.OrderStatus</p>
    <p class="card-text">PaymentId :@Model.Paymentid</p>
    <p class="card-text">Order Date: @Model.OrderDate</p>
</div>